/* .about {
    padding: 2rem;
    background-color:#ff808b25;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  
  .about h2 :hover {
    color: #ff8cb2;
  }


  .about p {
    font-size: 1.1rem;
    color: #000;
    line-height: 1.6;
    font-weight: 350;
  } */
